/* HEADER */
header {
  margin-top: 240px;
  margin-bottom: 120px;
  background-color: #fff;
}

header > .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .intro > h2 {
  margin: 60px 0 30px;
  line-height: 80px;
}

header .intro > p {
  margin-bottom: 35px;
}

/* WORK SHOWCASE */
.work_showcase {
  margin-bottom: 65px;
}

.work_showcase > .inner {
  display: flex;
  flex-direction: column;
}

.work_showcase .filter_box {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.work_showcase .filter_box > ul {
  width: 390px;
  display: flex;
  justify-content: space-between;
}

.work_showcase .filter_box > select {
  width: 140px;
  border: none;
}

.work_showcase .photo_box {
  height: 830px;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.work_showcase .photo_box > .photo {
  width: 370px;
  position: relative;
  background-color: #ddd;
  cursor: pointer;
  overflow: hidden;
}
.work_showcase .photo_box > .photo::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 230, 0, .8);
  opacity: 0;
  transition: .5s;
}
.work_showcase .photo_box > .photo:hover::after {
  opacity: 1;
}
.work_showcase .photo_box > .photo:nth-child(1),
.work_showcase .photo_box > .photo:nth-child(4),
.work_showcase .photo_box > .photo:nth-child(5) {
  height: 300px;
}
.work_showcase .photo_box > .photo:nth-child(2),
.work_showcase .photo_box > .photo:nth-child(3),
.work_showcase .photo_box > .photo:nth-child(6) {
  height: 500px;
}
.work_showcase .photo_box > .photo > img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.work_showcase .photo_box > .photo > .text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: .5s;
}
.work_showcase .photo_box > .photo > .text:hover {
  opacity: 1;
}
.work_showcase .photo_box > .photo > .text > p:first-child {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.work_showcase .photo_box > .photo > .text > p:nth-child(2) {
  font-size: 12px;
}

.work_showcase .btn.btn-more {
  display: block;
  margin: 0 auto;
}

/* PARTICIPATING COMPANY */
.participating_company {
  margin-bottom: 120px;
}

.participating_company .partners-line {
  position: relative;
}

.participating_company .partners-line .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
}

.participating_company .partners-line .inner {
  height: 336px;
}

.participating_company .partners-line .partners {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.participating_company .partners > img {
  margin-right: 100px;
}

.participating_company .partners > img:last-child {
  margin-right: 0;
}

/* ABOUT US */
.about_us {
  margin-bottom: 120px;
}

.about_us > .inner {
  display: flex;
  flex-direction: column;
}

.about_us .inner > p {
  width: 565px;
  margin-bottom: 50px;
}

.about_us .persone-list {
  display: flex;
  justify-content: space-between
}

.about_us .persone-list .persone,
.about_us .persone-list .info {
  width: 370px;
  height: 420px;
  background-color: #edf2f6;
}

.about_us .persone-list .persone {
  position: relative;
}
.about_us .persone-list .persone > img {
  width: 100%;
  height: 100%;
}

.about_us .persone-list .persone > .name-tag {
  width: 250px;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffe600;
}
.about_us .persone-list .persone > .name-tag > .name {
  padding: 12px 30px;
  font-size: 15px;
  font-weight: 700;
}
.about_us .persone-list .persone > .name-tag > .role {
  padding: 0px 30px;
  font-size: 12px;
  color: #fff;
}

.about_us .persone-list .info {
  background-color: #fff;
  border: 4px solid #fdfdfd;
}
.about_us .persone-list .info > h3 {
  margin-top: 100px;
  margin-left: 55px;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 700;
}
.about_us .persone-list .info > p {
  width: 260px;
  margin-left: 50px;
  margin-bottom: 35px;
  line-height: 30px;
}
.about_us .persone-list .info > button {
  margin-left: 50px;
  font-size: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}