/* HEADER */
header {
  margin-top: 240px;
  margin-bottom: 120px;
  background-color: #fff;
}

header > .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .intro > h2 {
  margin: 60px 0 30px;
  line-height: 80px;
}

header .intro > p {
  margin-bottom: 35px;
}
